
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');



 :root{
    --cor-preto: black;
    --cor-cinza: lightgray;
    --cor-branco: white;



}
  body{
   background: var(--cor-cinza) ;
    
 }
    
 .botoes{
  display: flex;
  padding-left: 20%;
  gap: 200px;
  margin: 10px;
  
 }

 .botoes__titulo{
   text-decoration: none;
   color: var(--cor-preto);
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 32px;
   
   
 }

 .elementor-element elementor-element-0b97317 elementor-widget elementor-widget-image{
   
 }
