
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');



 :root{
    --cor-principal: black;


}
  body{
    background:lightgray ;
    text-align: center;
}
.cabecalho{
  display: flex;
  text-align: center;
  padding: 1% 0 0 15%;
}

.cabecalho__menu{
   display: flex;
   gap: 200px;
   

}
.cabecalho__botoes{
   color: var(--cor-principal);
   text-decoration: none;
   font-size: 24px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   
}
.container__img{
    max-width:500px;
    max-height:800px;
    width: auto;
    height: auto;
    margin: 5% 5% 5% 50%;
}